body{
font-family: Courier;
}

header{
background-color:#01939A	
padding: 40px 0px 40px 25px;
  
}

.main-link{
  background-image: linear-gradient(#A67032, #062271, #A67280);
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none; 
  color: black;
}


h1{
text-align: center;
  color: black;
  font-size: 95px;
  text-shadou: 0px 20px 10px grey;
  
}

p{
font-size: 24px;
  margin-left: 58px;
 
  
}


ul{
font-size: 24px;
  margin-left: 50px;
  margin-top: 58px;

}




